.calendarRoot {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  color: #242424;
  border-radius: 10px;
}

.calendarHeader {
  display: flex;
  align-items: center;
}

/* .calendarBody {
  
} */

.calendarWeekdays,
.calendarDays {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(7, 1fr);
}

.weekdayBox, .dayBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
